.mainprofile{
    height:600px;
    width:600px;
    background-color:rgb(79, 128, 255);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);

}
.imagwrapper{
    height:170px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.imag{
    height:150px;
    width:150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10%;
    border:4px solid white;

}
.arrowwrapper{
    height:25px;
   margin-left:5px;
   margin-top: 5px;
}
.mainprofilewrapper{
transition: all 0.2s;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.detailwrappers{
    height:calc(100% - 200px);
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top-left-radius: 25px;
    border-top-right-radius:25px;
    background-color:white;
}
.changename:hover{
 background-color: limegreen;
 color:white !important;
}
.nameinput:focus{
 border-bottom: 2px solid limegreen;
}
.nameinput{
    outline:none;
    border:none;
    border-bottom:2px solid black;
    text-indent:10px;
    font-size: 15px;

}
.exit{
    padding:2px;
    background-color: orangered;
    color:white;
}
.checkbox{
    padding:2px;
    background-color: limegreen;
    color:white;
}
.namewrapper{
    display:flex;
    align-items: center;
}
.profileinput{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.checkbox,.exit{
    margin-left: 10px;
}
.changephotobutt{
    padding:7px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    display:inline-block;

    
    border:1px solid rgb(79, 128, 255);
    color:rgb(79, 128, 255);
    cursor: pointer;
}

@media(max-width:1000px){
    .mainprofile{
        height:500px;
        width:500px;
    }
}

@media(max-width:800px){
    .mainprofile{
        height:450px;
        width:400px;
    }
}

@media(max-width:700px){
    .mainprofile{
        width:350px;
    }
}



@media(max-width:600px){
    .mainprofilewrapper{
        width:100%;
    }
}
@media(max-width:400px){
    .mainprofile{
        width:85%;
    }
    .changephotobutt{
        font-size: 17px;
    }
    .detailwrappers button{
             font-size:15px;
    }
}


@media(max-width:330px){
    .nameinput{
        width:60%;
    }
    .iconswrapper{
        width:30%;

    }
}